<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Zion Visitor Center</title>
    <link rel="icon" type="image/png" sizes="512x512" href="Zion VC Icons/bison.svg">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
    <v-app>
    <v-main>
        <div class="d-xs-flex d-lg-none mb-6">
            <v-app-bar elevation=0 color="white" dense>
                <v-toolbar-title @click="page='dashboard'" class="pointer"> <img class="mr-3" src="Zion VC Icons/bison.svg" alt="bison">Zion Visitor Center</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="sideDrawer();" text><img src="Zion VC Icons/menu_green.svg" alt=""></v-btn>
            </v-app-bar>
        </div>

        <div class="d-none d-lg-flex mb-6">
            <v-app-bar elevation=0 color="white" dense>
                <v-toolbar-title  @click="page='dashboard';" class="pointer"> <img class="mr-3" src="Zion VC Icons/bison.svg" alt="bison"> Parkdata - Zion Visitor Center</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn text @click="page = 'dashboard' ">Dashboard</v-btn>
                <v-btn text @click="page = 'reports'; reportsLoad();">Reports</v-btn>
                <v-btn text @click="page = 'fileTransfer' ">File Transer</v-btn>
                <v-btn text @click="page = 'ipAddress' ">IP Address</v-btn>
                <v-btn text @click="page = 'help' ">Help</v-btn>
            </v-app-bar>
        </div>

        <!-- Start side drawer -->
        <v-navigation-drawer class="fill-height" hide-overlay v-model="drawer" right app>
            <v-toolbar color="#EFF3F9"  @click="sideDrawer()" height="50" class="mb-4 pointer" dense flat style="font-size: 20px;">Menu</v-toolbar>
            <v-btn class="d-block" style="font-size: 16px; color: #4F4F4F;" text @click="page = 'dashboard'; sideDrawer();">Dashboard</v-btn>
            <v-btn class="d-block" style="font-size: 16px; color: #4F4F4F;" text @click="page = 'reports'; reportsLoad(); sideDrawer();">Reports</v-btn>
            <v-btn class="d-block" style="font-size: 16px; color: #4F4F4F;" text @click="page = 'fileTransfer'; sideDrawer();">File Transfer</v-btn>
            <v-btn class="d-block" style="font-size: 16px; color: #4F4F4F;" text @click="page = 'ipAddress'; sideDrawer();">IP Address</v-btn>
            <v-btn class="d-block" style="font-size: 16px; color: #4F4F4F;" text @click="page = 'help'; sideDrawer();">Help</v-btn>
        </v-navigation-drawer>
        <!-- End side drawer -->

        <div v-if="page=='dashboard' ">
            <div class="container">
                <div>
                    <div class="visitorIN-box">
                        <img class="visitorSVG" src="Zion VC Icons/visitors in.svg" alt="">
                        <p class="visitorText">Visitors In</p>
                        <div class="visitorDataContainer" style="position: relative; bottom: -50px;">
                            <p class="visitorStatsText">{{visitorInPeople}}</p>
                            <p class="visitorStatsText">People</p>
                        </div>
                    </div>
                    <div class="visitorOUT-box">
                        <img class="visitorSVG" src="Zion VC Icons/visitors out.svg" alt="">
                        <p class="visitorText">Visitors Out</p>
                        <div class="visitorDataContainer" style="position: relative; bottom: -50px;">
                            <p class="visitorStatsText">{{visitorOutPeople}}</p>
                            <p class="visitorStatsText">People</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dailyTotal-box">
                        <p class="dailyTotalText d-inline">Daily Total</p>
                        <img class="dailyTotal-img mt-4" src="Zion VC Icons/daily total.svg" alt="">
                        <p class="SubText">{{dailyTotalPeople}} People</p>
                    </div>
                    <div class="occupancy-box">
                        <p class="dailyTotalText d-inline">Occupancy</p>
                        <img class="dailyTotal-img mt-4" src="Zion VC Icons/occupancy.svg" alt="">
                        <p class="SubText">{{occupancyPeople}} People</p>
                    </div>
                </div>

            </div>
        </div>

        <div v-if="page=='reports' ">
            <div class="d-xs-flex d-lg-none"> <!-- for small screens, use buttons to toggle different time frames -->
                <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                        <v-btn class="ml-2" outlined color="black" @click="switchArrow()" v-on="on">{{reportTimeInterval}}<img class="pl-3" :src="stateArrowImage" alt="arrow"></v-btn>
                    </template>
                    <v-list>
                    <v-list-item
                        v-for="(time, index) in reportTimeIntervalList" :key="index" v-on:click="reportTimeInterval=time; resetArrow(); reportsLoad();">
                        <v-list-item-title>{{ time }}</v-list-item-title>
                    </v-list-item>
                    </v-list>
                </v-menu>
                <div class="d-inline">
                    <v-menu  :close-on-content-click="DatePickerPopUp"  offset-y>
                        <template v-slot:activator="{ on }">
                            <v-btn prepend-icon="event" class="" @click="closeDatePicker();" outlined v-on="on">{{fullDate}}</v-btn>
                        </template>
                        <v-date-picker v-model="reportDate" color="#507282" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="#507282" @click="openDatePicker();">Cancel</v-btn>
                            <v-btn text color="#507282" @click="DateSelected();  openDatePicker();">OK</v-btn>
                        </v-date-picker>
                    </v-menu>
                </div>
                <div v-if="reportTimeInterval == '15 min' ">
                    <div class="table mt-6">
                        <v-data-table
                            :headers="MinuteHeaders"
                            :items="minuteTimes"
                            dense
                            items-per-page='200'
                            hide-default-footer
                            mobile-breakpoint='320'
                        >
                        </v-data-table>
                    </div>
                </div>
                <div v-if="reportTimeInterval == '1 hour' ">
                    <div class="table mt-6">
                        <v-data-table
                            :headers="HourHeaders"
                            :items="HourTimes"
                            items-per-page='24'
                            dense
                            hide-default-footer
                            mobile-breakpoint='320'
                        >
                        </v-data-table>
                    </div>
                </div>
                <div v-if="reportTimeInterval == '24 hour total' ">
                    <div class="table mt-6">
                        <v-data-table
                            :headers="DayHeaders"
                            :items="DayTimes"
                            items-per-page='1'
                            dense
                            hide-default-footer
                            mobile-breakpoint='320'
                        >
                        </v-data-table>
                    </div>
                </div>
            </div>

            <div class="d-none d-lg-flex"> <!-- for large screens, all 3 tables side by side -->
                <div class="table mt-6">
                    <div class="mb-8">
                        <p class="d-inline ml-4 mr-16 lg-table-labels">15 min</p>
                        <v-menu :close-on-content-click="DatePickerPopUp"  offset-y>
                            <template v-slot:activator="{ on }">
                                <v-btn prepend-icon="event" class="ml-16" @click="closeDatePicker();" outlined v-on="on">{{fullDate}}</v-btn>
                            </template>
                            <v-date-picker v-model="reportDate" color="#507282" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="#507282" @click="openDatePicker();">Cancel</v-btn>
                                <v-btn text color="#507282" @click="DateSelected();  openDatePicker();">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </div>
                    <v-data-table
                    class="d-inline"
                    :headers="MinuteHeaders"
                    :items="minuteTimes"
                    dense
                    items-per-page='200'
                    hide-default-footer
                    mobile-breakpoint='320'
                    >
                    </v-data-table>
                </div>

                <div class="table mt-6">
                    <div class="mb-8">
                        <p class="d-inline ml-4 mr-16 lg-table-labels">1 Hour</p>
                        <!-- <v-btn outlined class="ml-16">{{fullDate}}</v-btn> -->
                        <v-menu :close-on-content-click="DatePickerPopUp"  offset-y>
                            <template v-slot:activator="{ on }">
                                <v-btn prepend-icon="event" class="ml-16" @click="closeDatePicker();" outlined v-on="on">{{fullDate}}</v-btn>
                            </template>
                            <v-date-picker v-model="reportDate" color="#507282" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="#507282" @click="openDatePicker();">Cancel</v-btn>
                                <v-btn text color="#507282" @click="DateSelected();  openDatePicker();">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </div>
                    <v-data-table
                        :headers="HourHeaders"
                        :items="HourTimes"
                        dense
                        hide-default-footer
                        mobile-breakpoint='320'
                    >
                    </v-data-table>
                </div>

                <div class="table mt-6">
                    <div class="mb-8">
                        <p class="d-inline ml-4 mr-12 lg-table-labels">24 hour total</p>
                        <v-menu :close-on-content-click="DatePickerPopUp"  offset-y>
                            <template v-slot:activator="{ on }">
                                <v-btn prepend-icon="event" class="ml-12" @click="closeDatePicker();" outlined v-on="on">{{fullDate}}</v-btn>
                            </template>
                            <v-date-picker v-model="reportDate" color="#507282" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="#507282" @click="openDatePicker();">Cancel</v-btn>
                                <v-btn text color="#507282" @click="DateSelected();  openDatePicker();">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </div>
                    <v-data-table
                        :headers="DayHeaders"
                        :items="DayTimes"
                        dense
                        hide-default-footer
                        mobile-breakpoint='320'
                    >
                    </v-data-table>
                </div>
                
            </div>
        </div>

        <div v-if="page=='fileTransfer' " class="text-center" >
            <v-btn class="mt-6" rounded text outlined color="#7E8959">DOWNLOAD DATA FROM CAMERA</v-btn>
            <P>Download Complete</P>
            <v-btn rounded text outlined color="#7E8959">UPLOAD DATE TO SERVER</v-btn>
            <P>Upload Complete</P>
        </div>

        <div v-if="page=='ipAddress' ">
            <div class="bodyWrap">
                <input v-model="currentIP" @click="ipSelected(); currentIP=''" id="ipAddress" :class="{gSelect:ip_selected}">
                <p id="ex">Example: 192.168.0.90</p>
                <button class="submit" @click="submitIp(currentIP); ipSelected()">Submit IP Address</button>
            </div>
        </div>

        <div v-if="page=='help' "><p>help coming soon</p></div>
        
    </v-main>
    </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="zion.js"></script>
</body>
</html>